.visually-hidden:not(:focus):not(:active)
{	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	bottom: 0;
	padding: 0;

	white-space: nowrap;

	clip-path:  inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}



body {
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	width: 1200px;
	
	font-family: "Roboto", Arial, sans-serif;
	color: #ffffff;
	text-align: left;

	background-color: #849d8f;
	
}

a {
	text-decoration: none;
}

.main-navigation a {
	color: #fff;
}

.site-navigation,
.user-navigation,
.work-info,
.footer-company-info li {
	list-style: none;
}

.container {
	width: 1145px;
	margin:0 auto;
	padding: 0 27px;			
}
.btn {
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;

	border: 0px;
	border-radius: 20px;
	color: #fefefe;
	padding: 10px 20px;
    background-image: -webkit-linear-gradient(top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -o-linear-gradient(top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: linear-gradient(to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	opacity: 0.988;
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

}

		/* для хедера */
.main-header {
	
}
.main-navigation {
	margin-top: 8px;
	
	display: flex;
	flex-direction: column;
}
.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;
  display: flex;
}
.main-header-logo {
  width: 154px;
  height: 64px;
}
.main-navigation-wrapper {
	width: 100%;
	height: 100%;	
}
.main-navigation-wrapper .container {
  display: flex;
}
.site-navigation {
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;

	width: 425px;
	margin-left: 13px;

	align-items: center;
}
.navigation-item a {
	display: block;
	padding-left: 10px;
	padding-right: 17px;
}

.user-navigation {
	margin-left: auto;
	align-items: center;
	width: 265px;

	font-size: 14px;
	font-weight: medium;
	line-height: 16px;	
	justify-content: flex-end;
}
.user-navigation {
	position: relative;
	top:-1px;
}
.user-navigation-item a{
	display: block;
	background-color: #fff;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.2);
	height: 32px;
}
.basket-btn a {
	width: 117px;
	margin-left: 5px;
}
.basket-btn img {
	position: relative;
	top: 6px;
	left: 16px;
}
.basket-btn span {
	position: relative;
	left: 23px;
}
.login-btn a{
	width: 93px;
	text-align: center;
	height: 32px;
	margin-right: 5px;
	margin-left: 5px;
}
.login-btn img{
	position: relative;
	top:6px;
	right: 2px;
}
.login-btn span{
	position: relative;
	top: 1px;
	left: 4px;
}
.search-btn a{
	width: 32px;
	height: 32px;
	border-radius: 50px;
	text-align: center;
	margin-right: 5px;
}
.search-btn img{
	position: relative;
	top: 7px;
	left: 1px;
}

.work-info {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin: 0;
	margin-right: 27px;
}
.work-time{
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;	
	padding-bottom: 5px;
}
.work-tel{
	font-size: 22px;
	font-weight: bold;
	line-height: 24px;	

}

	/*для слайдера*/
.slider {
	position: static;
	margin-bottom: 202px;
}

.slide-1 {
	position: absolute;
	z-index: -100;
	top: 0;
	left: 110px;
}
.slide-2 {
	position: absolute;
	z-index: -100;
	top: 0;
	left: 110px;
}
.slide-3 {
	position: absolute;
	z-index: -100;
	top: 0;
	left: 110px;
}
.slider p {
	font-size: 60px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.006;
	text-align: center;

	position: relative;
	top: 215px;
	right: 0.5px;
}
.slider-buy-btm{
	font-size: 32px;
	font-weight: 700;
 	line-height: 44px;

 	border-radius: 31px;
 	padding-top: 8px;
 	padding-bottom: 11px;
 	padding-left: 40px;
 	padding-right: 41px;



 	position: relative;
  	top: 161px;
  	left: 434px;
}
	/* для promo*/

.promo {
	height: 230px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 40px;
}

.promo-item,
.promo-item-description {
	margin: 0;
	padding: 0;
	padding-left: 18px;
	padding-right: 20px;
	margin-top: 16px;
}
.promo-item {
  	font-size: 35px;
  	font-weight: bold;
	line-height: 41px;
	letter-spacing: 2px;
}
.promo-item-description {
	font-size: 18px;
	font-weight: bold;
 	line-height: 22px;
 	padding-bottom: 43px;

}
.promo-raspberry{
	width: 560px;
	height: 230px;
	

	background-image: url(../img/raspberry.jpg);
	background-position: -50px -95px;
	border-radius: 15px;
}
.promo-chocolate{
	width: 560px;
	height: 230px;

	background-image: url(../img/chocolate.jpg);
	margin-left: 25px;
	background-position: -50px -95px;
	border-radius: 15px;
}
.promo-btn {
	display: block;
	margin-left: auto;
	margin-right: 21px;
	padding: 10px 22px 10px 20px;
}
.promo-raspberry button{
	margin: 0;
	margin-left: auto;
	margin-right: 21px;
	padding: 10px 23px 12px 23px;
	border-radius: 25px;
}

/*каталог*/
.catalog{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	margin-bottom: 38px;
}
.catalog-item{
	margin-left: 25px;
}
.catalog-item:first-of-type {
	margin-left: 0;
}
.catalog-item img {
	border-radius: 50%;
	position: static;
	z-index: 1;
}
.price-item {
	font-size: 35px;
	font-weight: bold;
 	line-height: 45px;

	display: block;
	position: absolute;
	z-index: 10;
	top: 1090px;
}
.price-numbers {
	font-size: 45px;
	font-weight: bold;
 	line-height: 45px;
 }
 .ice-description {
 	font-size: 16px;
	font-weight: normal;
 	line-height: 22px;
 	text-align: center;

 	margin: 0;
 	padding: 0;
	padding-top: 9px;

 }


/*инфо про магазин "вафля"*/
.about-shop {
	background-image: url(../img/waffle.jpg);
	height: 306px;
	width: auto;

	margin-bottom: 40px;
	border-radius: 15px;

	color: black;
}
.about-shop h3 {
 	font-size: 24px;
 	font-weight: 500;
 	line-height: 30px;
 	padding-left: 20px;
 	padding-top: 25px;
}
.about-shop-wrapper{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.about-shop p {
	font-size: 16px;
 	font-weight: 400;
 	line-height: 22px;

	padding: 0;
	margin: -5px;
 	padding-left: 80px;
 	padding-right: 25px;
 	padding-bottom: 32px;
 	width: 477px;
}


/* новости и подписка*/
.news {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 40px;
	margin-left: 27px;
}
.news-item {
	height: 220px;
	width: 560px;
	background-image: url(../img/Strawberry_background.jpg);
	background-position: -50px -225px;
	border-radius: 15px;
}	
.news-item h3 {
    color: #323232;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;

	margin: 0;
	padding: 0;
	padding-top: 25px;
	padding-left: 20px;
	padding-bottom: 3px;
}
.news-item a {
    color: #323232;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;

	margin: 0;
	padding: 0;
	padding-left: 20px;
	text-decoration-line: underline;
	display: block;
	width: 300px;
}

.subscribe-info {
	height: 220px;
	width: 560px;
	background-image: url(../img/bg-post.svg);
	margin-left: 25px;
	border-radius: 15px;
}
.subscribe-info-wrapper p {
	margin: 0;
	padding: 0;
	margin-bottom: 35px;
}
.subscribe-info-wrapper {
	background-color: #f8f7f4;
	width: 515px;
	height: 180px;
	margin: 5px;
	padding-left: 25px;
	padding-right: 10px;
	padding-top: 30px;
	border-radius: 15px;

	font-size: 16px;
 	font-weight: 400;
 	line-height: 22px;
	color: #5a5a5a;
}
.subscribe-btn {
	display: block;
	margin-left: auto;
	display: inline-block;
	margin-left: 7px;
	height: 45px;
	padding-left: 15px;
	padding-right: 20px;
	border-radius: 25px;
}
.subscribe-info input {
	width: 355px;
	height: 40px;
	display: inline-block;
	margin-right:0;
	border-radius: 5px;
	border: 1px solid #d3d3d2;
	padding-left: 10px;
}
/* карта и адрес*/
.address{
margin-bottom: 20px;
height: 430px;
}
.address-item {
    color: #323232;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;

	border-radius: 15px;
	width: 302px;
	height: 305px;
	background-color: #fefefe;
	margin-left: auto;
	margin-right: 27px;
	position: relative;
	top: 62px;
	color: #323232;
}
.address-item strong{
    color: #323232;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}
.address-item p {
	padding: 0;
	margin: 0;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 28px;
	margin-bottom: 21px;
}
.address-item span {
	display: inline-block;
	padding-top: 16px;
	line-height: 1.9;
}
.address-item button {
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-left: 27px;
	padding-right: 28px;
	border-radius: 25px;
}


.address img {
	position: absolute;
}

/*футер*/
.footer-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	padding-left: 16px;
	padding-right: 20px;
}
.footer-socials {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.footer-socials img {
	border-radius: 50%;
	border: 2px #c2cec7 solid;

	padding: 0;
	margin-left: 13px;

}

.footer-company-info {
	margin-left: 185px;
	
}
.footer-company-info li {
	list-style: none;
}

.footer-copyright {
	margin-left: auto;

}
