.visually-hidden:not(:focus):not(:active)
{	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	bottom: 0;
	padding: 0;

	white-space: nowrap;

	clip-path:  inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}



body {
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	width: 1200px;
	
	font-family: "Roboto", Arial, sans-serif;
	color: #ffffff;
	text-align: left;

	background-color: #849d8f;
	
}

a {
	text-decoration: none;
}

.main-navigation a {
	color: #fff;
}

.site-navigation,
.user-navigation,
.work-info,
.footer-company-info li {
	list-style: none;
}

.container {
	width: 1145px;
	margin:0 auto;
	padding: 0 27px;			
}
.btn {
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;

	border: 0px;
	border-radius: 20px;
	color: #fefefe;
	padding: 10px 20px;
    background-image: -webkit-linear-gradient(left, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -o-linear-gradient(left, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: linear-gradient(to right, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	opacity: 0.988;
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

}

		/* для хедера */
.main-header {
	
}
.main-navigation {
	margin-top: 8px;
	
	display: flex;
	flex-direction: column;
}
.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;
  display: flex;
}
.main-header-logo {
  width: 154px;
  height: 64px;
}
.main-navigation-wrapper {
	width: 100%;
	height: 100%;	
}
.main-navigation-wrapper .container {
  display: flex;
}
.site-navigation {
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;

	width: 425px;
	margin-left: 13px;

	align-items: center;
}
.navigation-item a {
	display: block;
	padding-left: 10px;
	padding-right: 17px;
}

.user-navigation {
	margin-left: auto;
	align-items: center;
	width: 265px;

	font-size: 14px;
	font-weight: medium;
	line-height: 16px;	
	justify-content: flex-end;
}
.user-navigation {
	position: relative;
	top:-1px;
}
.user-navigation-item a{
	display: block;
	background-color: #fff;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.2);
	height: 32px;
}
.basket-btn a {
	width: 117px;
	margin-left: 5px;
}
.basket-btn img {
	position: relative;
	top: 6px;
	left: 16px;
}
.basket-btn span {
	position: relative;
	left: 23px;
}
.login-btn a{
	width: 93px;
	text-align: center;
	height: 32px;
	margin-right: 5px;
	margin-left: 5px;
}
.login-btn img{
	position: relative;
	top:6px;
	right: 2px;
}
.login-btn span{
	position: relative;
	top: 1px;
	left: 4px;
}
.search-btn a{
	width: 32px;
	height: 32px;
	border-radius: 50px;
	text-align: center;
	margin-right: 5px;
}
.search-btn img{
	position: relative;
	top: 7px;
	left: 1px;
}

.work-info {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin: 0;
	margin-right: 27px;
}
.work-time{
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;	
	padding-bottom: 5px;
}
.work-tel{
	font-size: 22px;
	font-weight: bold;
	line-height: 24px;	

}

	/*для слайдера*/
.slider {
	position: static;
	margin-bottom: 202px;
}

.slide-1 {
	position: absolute;
	z-index: -100;
	top: 0;
	left: 110px;
}
.slide-2 {
	position: absolute;
	z-index: -100;
	top: 0;
	left: 110px;
}
.slide-3 {
	position: absolute;
	z-index: -100;
	top: 0;
	left: 110px;
}
.slider p {
	font-size: 60px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.006;
	text-align: center;

	position: relative;
	top: 215px;
	right: 0.5px;
}
.slider-buy-btm{
	font-size: 32px;
	font-weight: bold;
 	line-height: 44px;

 	border-radius: 31px;
 	padding-left: 40px;
 	padding-right: 41px;



 	position: relative;
  	top: 161px;
  	left: 434px;
}














	/* для main*/

.promo {
	height: 230px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 40px;
}
.promo-raspberry{
	width: 560px;
	background-image: url(../img/raspberry.jpg);
	background-position: -50px -90px;
	border-radius: 15px;
}
.promo-chocolate{
	width: 560px;
	background-image: url(../img/chocolate.jpg);
	margin-left: 25px;
	border-radius: 15px;
}	

.catalog{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	margin-bottom: 40px;
}
.catalog-item{
	margin-left: 25px;
}
.catalog-item:first-of-type {
	margin-left: 0;
}
.catalog-item img {
	border-radius: 50%;
}

/*инфо про магазин "вафля"*/
.about_shop {
	background-image: url(../img/waffle.jpg);
	height: 310px;
	width: auto;
	margin-bottom: 40px;
}


/* новости и подписка*/
.news {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 40px;
}
.news-item {
	height: 220px;
	width: 560px;
	background-image: url(../img/Strawberry_background.jpg);
	background-position: -50px -225px;
	border-radius: 15px;
}	
.subscribe-info {
	height: 220px;
	width: 560px;
	background-image: url(../img/bg-post.svg);
	margin-left: 25px;
	border-radius: 15px;
}
/* карта и адрес*/
.address{
margin-bottom: 40px;
height: 430px;
}
.address-item {
	border-radius: 15px;
	width: 305px;
	height: 300px;
	background-color: #fefefe;
	margin-left: auto;
	margin-right: 27px;
	position: relative;
	top: 27px;
	color: #323232;
}
.address img {
	position: absolute;
}

/*футер*/
.footer-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	padding-left: 27px;
	padding-right: 27px;
}
.footer-socials {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.footer-company-info {
	margin-left: 185px;
	background-color: black;
	
}
.footer-company-info li {
	list-style: none;
}

.footer-copyright {
	margin-left: auto;
	background-color: black;
}